{{ ansible_managed | comment }}
# See man 5 aliases for format

{% if postfix_alias_database_type == "regexp" %}
{% for alias in postfix_aliases %}
{{ alias.user }} {{ alias.alias }}
{% endfor %}
{% else %}
postmaster: root
{% for alias in postfix_aliases %}
{{ alias.user }}: {{ alias.alias }}
{% endfor %}
{% endif %}
